.cryptoContainer{
    display: flex;
    align-items: center;
    margin-left: 18rem;
    width: 60vw;
    height: 12rem;
    overflow: scroll;
}
.cryptoImages{
    width: 5vw;
    height: 5rem;
    margin: 1rem 3rem;
    overflow: hidden;
}


.cryptoContainer::-webkit-scrollbar {
    display: none;
}
.coinImgLogo{
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
}
.bodyContainer{
    height: 5rem;
}
.searchInput{
    width: 80vw;
}
.table{
    width: 80vw;
    margin-left: 8rem;
}
.pagination{
    margin-left: 10rem;
}
.cryptoHeader{
    background-image: url("../images/bg1.jpeg");
    width: 98.74vw;
    object-fit: cover;
    background-position: right;
    opacity: 0.9;
    z-index: -1;
    height: 25rem;
}

.cryptoImg{
    position: relative;
    animation-name: h1;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}
.cryptoImg:hover{
    animation-play-state: paused;
}
@keyframes h1 {
    0%{
        transform: translateX(100);
    }
    100%{
        transform: translateX(calc(-100rem*25.05));
    }
    
}
.tdclasses{
    cursor: pointer;
}
